
# Python / Virtual Environment
venv/
.venv/
env/

__pycache__/
*.py[cod]
*$py.class


# VS Code
.vscode/


# Jupyter
.ipynb_checkpoints/


# Environment Variables
.env
.env.*


# Data

data/raw/*.csv
data/raw/*.json


# Logs
logs/
*.log


# Local Databases

*.db
*.sqlite
*.sqlite3

# Models / ML Training

models/checkpoints/
models/emotion_model/
models/*.pkl
models/*.joblib
*.safetensors

# MLflow
mlruns/
mlartifacts/


# Monitoring Outputs

monitoring/*.json
monitoring/*.html


# Docker

docker-data/


# AWS Credentials
.aws/


# Feast

feature_repo/data/
feature_repo/registry.db

# DVC

.dvc/cache/
.dvc/tmp/


# DVC Pipeline Marker Files

pipeline_*.done

# Test / Temporary Files
src/test.py