numpy
pandas
matplotlib
scikit-learn
xgboost
joblib

#NLP
nltk
spacy
transformers
torch
datasets
sentencepiece

#MLOps

mlflow==2.22.1
dvc
feast==0.40.1
evidently==0.7.14

#Backend
fastapi
uvicorn
requests

#Monitoring
prometheus-client
prometheus-fastapi-instrumentator

#AWS
boto3

#Database
sqlalchemy
psycopg2-binary

#Config
pyyaml
python-dotenv

