# Core
numpy==1.26.4
pandas==2.2.3
scipy==1.15.3
matplotlib

# ML
scikit-learn==1.7.2
xgboost==3.0.4
joblib


# NLP
nltk
spacy
transformers
# torch
# torchvision
# torchaudio
datasets
sentencepiece
accelerate

# MLOps
mlflow==2.22.1
dvc[s3]
feast==0.40.1
evidently==0.7.140

# Backend
fastapi
uvicorn
requests
streamlit==1.39.0

# Monitoring
prometheus-client
prometheus-fastapi-instrumentator

# AWS
boto3

# Database
sqlalchemy
psycopg[binary]
psycopg-pool

# Config
pyyaml
python-dotenv


